.App {
  text-align: center;
  width: 100%; /* Ensure the parent container takes full width */
}

.navbar {
  background-color: #282c34;
  min-height: 60px;
  width: 100%; /* Set navbar width to 100% */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box; /* Ensure padding doesn't affect the total width */
}
