/* General Layout Styling */
.app-layout {
  min-height: 100vh;
}

/* Header Styling */
.app-header {
  background-color: #001529;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Title Styling */
.app-title {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

/* Content Styling */
.app-content {
  padding: 5px;
  display: flex;
}