@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.1); /* Optional: start smaller */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* End at normal size */
    }
}


.handbillimage {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    /* Animation settings */
    animation: fadeIn 0.2s ease forwards;
}

.browsedDiv {
    opacity: 0.5;
}

.handbillCard {
    margin: 0;
    border: none;
    box-shadow: none; /* Remove default shadow */
}