.commentMediaContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
}

.commentMedia{
    width: 30%;
    height: 30%;
    object-fit: contain;
    cursor:pointer;
}

.commentItem:hover{
    background-color: rgb(239, 239, 239);
}