.carouselContainer {
    width: 40vw;
    height: 100%;
    position: relative;
}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    object-fit: contain;
}

.arrow {
    position: absolute;
    background-color: rgba(234, 233, 233, 0.5);
    top: 50%;
    opacity: 1;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    z-index: 1; /* Ensure arrows are above the image */
}

.leftArrow {
    left: 10px;
}

.rightArrow {
    right: 10px;
}

.reviewImg{
    height: 50vh;
    width: 50vw;
    object-fit:contain;
}